@import '../../../../assets/css/global.less';

.page-content .icesnow {
    .pb(24px) !important;
}

.culture-details {
    position: relative;
    &::after {
        content: "";
        width: 19px;
        height: 4px;
        .bg(#0055BA);
        .pos(left, 18px, top, 0);
    }
    .details-wrap {
        .bg(white);
        .pb(26px);
        .mb(11px);
        .header {
            padding: 15px 18px 29px 18px;
            .info {
                color: black;
                font-size: 9px;
                .ac(9px);
                .source {
                    .mr(16px);
                }
            }
            .title {
                .fs(20px);
                .pt(28px);
                line-height: 25px;
                color: black;
                font-weight: bold;
            }
        }
        .img-wrap {
            height: 250px;
            position: relative;
            img {
                height: 100%;
                .pos(left, 50%, top, 0);
                transform: translateX(-50%);
            }
        }
        .details {
            padding: 22px 27px;
            p {
                color: black;
                line-height: 24px;
                .mb(30px);
                .fs(15px);
                &:last-child {
                    .mb(0);
                }
            }
        }
    }
}
