/*
    NOTE: global color
*/
/*
    NOTE: font style
*/
.page-content .icesnow {
  padding-bottom: 24px !important;
}
.culture-details {
  position: relative;
}
.culture-details::after {
  content: "";
  width: 19px;
  height: 4px;
  background-color: #0055BA;
  position: absolute;
  left: 18px;
  top: 0;
}
.culture-details .details-wrap {
  background-color: white;
  padding-bottom: 26px;
  margin-bottom: 11px;
}
.culture-details .details-wrap .header {
  padding: 15px 18px 29px 18px;
}
.culture-details .details-wrap .header .info {
  color: black;
  font-size: 9px;
  display: flex;
  align-items: center;
  height: 9px;
}
.culture-details .details-wrap .header .info .source {
  margin-right: 16px;
}
.culture-details .details-wrap .header .title {
  font-size: 20px;
  padding-top: 28px;
  line-height: 25px;
  color: black;
  font-weight: bold;
}
.culture-details .details-wrap .img-wrap {
  height: 250px;
  position: relative;
}
.culture-details .details-wrap .img-wrap img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.culture-details .details-wrap .details {
  padding: 22px 27px;
}
.culture-details .details-wrap .details p {
  color: black;
  line-height: 24px;
  margin-bottom: 30px;
  font-size: 15px;
}
.culture-details .details-wrap .details p:last-child {
  margin-bottom: 0;
}
