/*
    NOTE: global color
*/
/*
    NOTE: font style
*/
.list-small {
  padding: 18px 16px;
  background-color: white;
}
.list-small .list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EAE9EA;
  padding: 20px 0;
  position: relative;
}
.list-small .list-item:first-child {
  padding-top: 0;
}
.list-small .list-item:last-child {
  padding-bottom: 0;
}
.list-small .list-item .info {
  flex: 0 0 204px;
}
.list-small .list-item .info .title {
  font-size: 15px;
  margin-bottom: 14px;
  height: 39px;
  line-height: 20px;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.list-small .list-item .info .details {
  font-size: 12px;
  color: black;
  opacity: 0.64;
  height: 13px;
  display: flex;
  align-items: center;
}
.list-small .list-item .info .details em {
  font-style: normal;
}
.list-small .list-item .cover {
  width: 101px;
  height: 66px;
}
.list-small .list-item .cover .link {
  display: block;
  height: 100%;
}
.list-small .list-item .cover img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 2px;
}
.list-small .list-item:last-child {
  border-bottom: 0;
}
.list-small .list-item .link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.list-small .load-more {
  padding-top: 33px;
  padding-bottom: 11px;
  text-align: center;
}
.list-small .load-more button {
  background-color: rgba(220, 220, 220, 0.79);
  line-height: 25px;
  height: 25px;
  text-align: center;
  border-radius: 10px;
  font-size: 13px;
  color: black;
  padding: 0 28px;
}
