@import '../../assets/css/global.less';

.page-content {
    .icesnow {
        .bg(#F2EEED);
        .pb(16px);
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.icesnow {
    .tabs {
        .swiper-wrapper {
            // 五字宽度
            .swiper-slide:nth-child(1),
            .swiper-slide:nth-child(2),
            .swiper-slide:nth-child(6) {
                width: 78px !important;
            }
            // 四字宽度
            .swiper-slide:nth-child(3),
            .swiper-slide:nth-child(4),
            .swiper-slide:nth-child(5) {
                width: 63px !important;
            }
        }
    }
    .banner {
        .logo-wrap {
            background-image: url('./home/image/bg@3x.png') !important;
            background-size: 100% !important;
        }
    }
}
