/*
    NOTE: global color
*/
/*
    NOTE: font style
*/
.list-big .preview-title {
  font-size: 16px;
  color: white;
  line-height: 16px;
  height: 16px;
  position: fixed;
  left: 50%;
  top: 18px;
  transform: translateX(-50%);
  z-index: 9999;
  transition: all 0.5s ease;
  opacity: 0;
  font-weight: 500;
}
.list-big .preview-title.in {
  opacity: 1;
}
.list-big .big-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 11px;
  flex-wrap: wrap;
}
.list-big .big-children {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.list-big .big-item {
  width: 168px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  margin-top: 15px;
  background-color: white;
}
.list-big .big-item:nth-child(1),
.list-big .big-item:nth-child(2) {
  margin-top: 0;
}
.list-big .big-item .cover {
  display: flex;
  height: 168px;
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.list-big .big-item .cover img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.list-big .big-item .cover img:first-child {
  z-index: 1;
}
.list-big .big-item .cover img:not(:first-child) {
  display: none;
}
.list-big .big-item .info {
  display: flex;
  flex-direction: column;
  padding: 11px 8px 13px 8px;
}
.list-big .big-item .info .title {
  font-size: 12px;
  color: black;
  height: 30px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 9px;
  position: relative;
  top: -2px;
}
.list-big .big-item .info .time {
  font-size: 8px;
  color: rgba(0, 0, 0, 0.53);
  height: 7px;
  display: flex;
  align-items: center;
}
.list-big .more-btn {
  padding-top: 11px;
  text-align: center;
}
.list-big .more-btn button {
  width: 105px;
  height: 25px;
  line-height: 25px;
  border-radius: 10px;
  background-color: rgba(220, 220, 220, 0.79);
  text-align: center;
  font-size: 13px;
  color: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.list-big .more-btn button:disabled {
  color: #bbb;
}
.list-big .more-btn button .icon {
  width: 0.3rem;
  height: 0.3rem;
  background-color: #fff;
  border: 0 solid #319bef;
  border-radius: 50%;
  display: inline-block;
  /* top: 0.22rem; */
  position: relative;
  margin-right: 6px;
  /* left: 0.4rem; */
  background-color: transparent;
}
.list-big .more-btn button .icon::before,
.list-big .more-btn button .icon::after {
  content: '';
  left: 0px;
  top: 0px;
  position: absolute;
  transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
}
.list-big .more-btn button .icon::after {
  width: 13px;
  height: 13px;
  top: -1px;
  left: -1px;
  border-radius: 50%;
  animation: rotation infinite linear 0.5s;
  transition: none;
  border-top: 1.5px solid transparent;
  border-left: 1.5px solid #fff;
  border-right: 1.5px solid transparent;
  border-bottom: 1.5px solid transparent;
  z-index: 0;
}
.list-big .preview-toolbar {
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 9999;
  transition: all 0.5s ease;
  color: white;
  font-size: 12px;
  opacity: 0;
}
.list-big .preview-toolbar .preview-wrap {
  padding-right: 24px;
  display: flex;
  align-items: center;
}
.list-big .preview-toolbar.in {
  opacity: 1;
}
.list-big .preview-toolbar .icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
.list-big .preview-toolbar .like {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}
.list-big .preview-toolbar .like .num {
  margin-left: 6px;
}
.list-big .preview-toolbar .share {
  display: inline-flex;
  align-items: center;
}
.list-big .preview-toolbar .share i {
  width: 13px;
  height: 15px;
  background-image: url(image/share@2x.png);
}
.pswp__counter {
  position: fixed;
  top: initial;
  bottom: 21px;
  left: 26px;
  color: #777;
  font-size: 16px;
  opacity: 1;
  height: 15px;
  line-height: 15px;
  padding: 0;
}
.pswp__caption {
  bottom: 63px;
}
.pswp__caption__center {
  padding: 0;
  padding-left: 19px;
  padding-right: 30px;
  font-size: 16px;
  color: white;
  line-height: 24px;
}
.pswp__caption__center .source {
  font-size: 12px;
}
.pswp__preloader {
  display: none;
}
.pswp__button--close {
  float: left;
  opacity: 1;
  margin-left: 4px;
  margin-top: 4px;
}
@-webkit-keyframes rotation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
