/*
    NOTE: global color
*/
/*
    NOTE: font style
*/
.broadcast {
  height: 192px;
}
.broadcast .swiper-container {
  height: 100%;
}
.broadcast .swiper-container .swiper-slide {
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.broadcast .swiper-container .swiper-slide::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 47px;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
}
.broadcast .swiper-container .swiper-slide .title {
  position: absolute;
  bottom: 11px;
  left: 16px;
  color: white;
  font-size: 12px;
}
.broadcast .swiper-container .broadcastSwiper-pagination {
  bottom: 41px;
}
.broadcast .swiper-container .broadcastSwiper-pagination .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background-color: transparent;
  border: 1px solid white;
}
.broadcast .swiper-container .broadcastSwiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white;
}
