/*
    NOTE: global color
*/
/*
    NOTE: font style
*/
.home-header {
  min-height: 367px;
  position: relative;
  background-image: url('image/header-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-header .curtain {
  width: 100%;
  height: 102px;
  background-image: url('image/curtain@2x.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.home-header .logo {
  width: 200px;
  height: 100px;
  background-image: url('image/logo@2x.png');
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 102px;
  -webkit-transform: translateX(-50%) !important;
  -moz-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
}
.home-header .character {
  width: 100%;
  position: absolute;
  left: 0;
  top: 142px;
}
.home-header .character .boy {
  width: 67px;
  height: 104px;
  background-image: url('image/boy@2x.png');
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 24px;
  top: 0;
}
.home-header .character .girl {
  width: 66px;
  height: 103px;
  background-image: url('image/girl@2x.png');
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 24px;
  top: 0;
}
.home-header .tabs {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 18px 8px 18px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
.home-header .tabs .items {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 82px;
  flex: 1;
}
.home-header .tabs .items:first-child {
  background-image: url('image/media-yun@2x.png');
}
.home-header .tabs .items:nth-child(2) {
  background-image: url('image/scene-yun@2x.png');
  margin: 0 14px;
}
.home-header .tabs .items:last-child {
  background-image: url('image/ice-yun@2x.png');
}
.home {
  color: #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  display: flex;
  height: 100%;
  flex-direction: column;
}
