/*
    NOTE: global color
*/
/*
    NOTE: font style
*/
.banner {
  height: 46px;
  position: relative;
  background-color: white;
}
.banner .logo-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 263px;
  height: 100%;
  z-index: 1;
  background: url('image/bg.png') 100% no-repeat;
}
.banner .logo-wrap .logo-inner {
  position: absolute;
  left: 18px;
  top: 0;
  width: 60px;
  height: 79px;
  background-color: white;
  box-shadow: 2px 3% 2px rgba(197, 197, 197, 0.32);
}
.banner .logo-wrap .logo-inner .logo {
  width: 48px;
  height: 49px;
  background-image: url('image/logo@2x.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 11px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.banner .logo-wrap .logo-text {
  width: 106px;
  height: 21px;
  background-image: url('image/text@2x.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.banner .ice-wrap {
  width: 153px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.banner .ice-wrap .ice-left {
  width: 71px;
  height: 100%;
  background-image: url('image/ice-left.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 82px;
  top: 0;
}
.banner .ice-wrap .ice-right {
  width: 68px;
  height: 100%;
  background-image: url('image/ice-right.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
.banner .ice-wrap .character {
  width: 48px;
  height: 37px;
  background-image: url('image/character@2x.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
